<div class="page-header">
  <h3>Question #4: What is the most recent movie on the list directed by Francis Ford Coppola?</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <p class="lead">Answer: <%= @most_recent_movie_by_coppola.title %></p>
  </div>
</div>
